*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
:root{
    --navbar-height:59px;

}

#navbar{
    display: flex;
   top: 0px;
    align-items: center;
    position: sticky;
    
}
#navbar::before{
    content:"";
    background-color: darkgrey;
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity:0.4;
}

#logo{
    margin:10px 34px;
}
#logo img{
    height:10 px;
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;

}
#navbar ul li{

list-style: none;
font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display:block;
    padding:3px 22px;
    border-radius:20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
   background-color: white;
}
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 440px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content:"";
    background:url('../background/food6.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 75%;
    width: 100%;
    z-index: -1;
    opacity:0.9;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
    font-size: 2.5rem;


}

#home p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;


}
/* Service section */

#services{
margin: 34px;
display: flex;

}
#services .box{
border: 2px solid brown;
margin: 10px 15px;
padding: 30px;
border-radius: 26px;
background: lightgrey;
}
#services .box img{
    height:121px;
    margin: auto;
    display: block;
    padding: 16px;
    border-radius: 60px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
    padding: 12px;
    font-size: 1rem;

}

/*client section*/

#client-section{
    height: 334px;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../background/resturant.jfif') no-repeat center center/cover ;
    width: 100%;
    height: 334px;
    z-index: -1;
    opacity: 0.5;


}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients  img {
    padding: 25px;
    height: 120px;
    justify-content: center;
    align-items: center;
}
/*contact Section */
#contact{
    height:590px;

}
#contact::before{
    content: "";
    position: absolute;
    height: 82%;
    width: 100%;
    background: url('../background/contact1.jfif') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.7;
    
}
#contact-box{
    display: flex;
    justify-content: center;
}
#contact-box form{
   width: 40%;
   
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;

}


#contact-box input,
#contact-box textarea{
    padding: 0.5rem;
    width: 100%;
    border-radius: 10px;
    font-size: 1.1rem;
}



footer{

    background: black;
    color: white;
    padding: 9px 20px;

}
/* utility Class */
.h-primary{
    font-size: 3.8rem;
    padding:12px;
    font-family: 'Bree Serif', serif;

}
.h-secondary{
font-size: 1.8rem;
padding: 12px;
font-family: 'Bree Serif', serif;

}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}